.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: white;
}

.register-logo img {
  width: 120px;
  object-fit: contain;
}

.register-logo {
  margin: 25px 0;
}

.register__container {
  width: 350px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.register__title {
  margin-bottom: 10px;
}

.register__name input,
.register__email input {
  background-color: #fff;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  width: 95%;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
  outline: 0;
}

.register__password input {
  background-color: #fff;
  height: 31px;
  padding: 3px 7px;
  line-height: normal;
  width: 95%;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
  outline: 0;
}

.register__password > p {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}

.register__name > p,
.register__email > p {
  display: block;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 700;
}

.register__button button {
  background: #f4d078;
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
  vertical-align: middle;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 6px 0;
  width: 100%;
}
